@import "settings";

body {
  font-family: $font-family;
  line-height: 1.25em;
  font-weight: 400;
  background-color: #f0f0f0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
