@import "settings";

body {
  font-family: $font-family;
  line-height: 1.25em;
  font-weight: 400;
  background-color: #f0f0f0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  position: relative;
  height: $header-height;
  background-color: $header-background-color;
  border-bottom: 1px solid #aaa;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  line-height: $header-height;
}

h1, h2, h3, h4, h5 {
  font-family: $header-font-family;
}

main {
  position: absolute;
  top: $header-height;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.axes {
  position: relative;
  width: 100%;
  height: 100%;
}

.arena {
  pointer-events: none;
}

.tile {
  position: absolute;
}
